version: "3.8"

services:
    nginx:
        container_name: nginx
        build:
            context: ./requirements/nginx
            dockerfile: Dockerfile
            args:
                - DOMAIN_NAME=${DOMAIN_NAME}
        restart: always
        depends_on:
            mariadb:
                condition: service_healthy
            wordpress:
                condition: service_healthy
            adminer:
                condition: service_started
            static-site:
                condition: service_started
            portainer:
                condition: service_started
        ports:
            - "443:443"
        volumes:
            - wordpress_volume:/var/www/html
            - adminer_volume:/var/www/adminer
        networks:
            - inception_network
        env_file:
            - .env

    mariadb:
        container_name: mariadb
        build:
            context: ./requirements/mariadb
            dockerfile: Dockerfile
        restart: always
        env_file:
            - .env
        environment:
            MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
            MYSQL_DATABASE: ${MYSQL_DATABASE}
            MYSQL_USER: ${MYSQL_USER}
            MYSQL_PASSWORD: ${MYSQL_PASSWORD}
            MYSQL_ADMIN_USER: ${MYSQL_ADMIN_USER}
            MYSQL_ADMIN_PASSWORD: ${MYSQL_ADMIN_PASSWORD}
        volumes:
            - mariadb_volume:/var/lib/mysql
        networks:
            - inception_network
        healthcheck:
            test:
                [
                    "CMD",
                    "mysqladmin",
                    "ping",
                    "-h",
                    "localhost",
                    "-u",
                    "root",
                    "-p${MYSQL_ROOT_PASSWORD}",
                ]
            interval: 10s
            timeout: 5s
            retries: 5
            start_period: 30s

    wordpress:
        container_name: wordpress
        build:
            context: ./requirements/wordpress
            dockerfile: Dockerfile
        restart: always
        depends_on:
            mariadb:
                condition: service_healthy
            redis:
                condition: service_healthy
        env_file:
            - .env
        environment:
            MYSQL_DATABASE: ${MYSQL_DATABASE}
            MYSQL_USER: ${MYSQL_USER}
            MYSQL_PASSWORD: ${MYSQL_PASSWORD}
            MYSQL_ADMIN_USER: ${MYSQL_ADMIN_USER}
            MYSQL_ADMIN_PASSWORD: ${MYSQL_ADMIN_PASSWORD}
            DOMAIN_NAME: ${DOMAIN_NAME}
        volumes:
            - wordpress_volume:/var/www/html
        networks:
            - inception_network
        expose:
            - "9000"
        healthcheck:
            test: ["CMD-SHELL", "pidof php-fpm8.2 || exit 1"]
            interval: 15s
            timeout: 5s
            retries: 5
            start_period: 30s

    redis:
        container_name: redis
        build:
            context: ./requirements/redis
            dockerfile: Dockerfile
        restart: always
        networks:
            - inception_network
        expose:
            - "6379"
        healthcheck:
            test: ["CMD", "redis-cli", "ping"]
            interval: 10s
            timeout: 5s
            retries: 5
            start_period: 10s

    ftp:
        container_name: ftp
        build:
            context: ./requirements/ftp
            dockerfile: Dockerfile
        restart: always
        ports:
            - "21:21"
            - "21000-21010:21000-21010"
        environment:
            FTP_USER: ${FTP_USER}
            FTP_PASSWORD: ${FTP_PASSWORD}
        env_file:
            - .env
        volumes:
            - wordpress_volume:/var/www/html
        depends_on:
            wordpress:
                condition: service_healthy
        networks:
            - inception_network

    adminer:
        container_name: adminer
        build:
            context: ./requirements/adminer
            dockerfile: Dockerfile
        restart: always
        expose:
            - "9001"
        volumes:
            - adminer_volume:/var/www/html
        depends_on:
            mariadb:
                condition: service_healthy
        networks:
            - inception_network
        healthcheck:
            test: ["CMD-SHELL", "pidof php-fpm8.2 || exit 1"]
            interval: 15s
            timeout: 5s
            retries: 5
            start_period: 15s

    static-site:
        container_name: static-site
        build:
            context: ./requirements/static-site
            dockerfile: Dockerfile
        restart: always
        expose:
            - "8000"
        networks:
            - inception_network

    portainer:
        container_name: portainer
        build:
            context: ./requirements/portainer
            dockerfile: Dockerfile
        restart: always
        environment:
            PORTAINER_ADMIN_USER: ${PORTAINER_ADMIN_USER}
            PORTAINER_ADMIN_PASSWORD: ${PORTAINER_ADMIN_PASSWORD}
            DOMAIN_NAME: ${DOMAIN_NAME}
        env_file:
            - .env
        expose:
            - "9000"
        volumes:
            - /var/run/docker.sock:/var/run/docker.sock
            - portainer_volume:/data
        networks:
            - inception_network

volumes:
    mariadb_volume:
        driver: local
        driver_opts:
            type: "none"
            device: "/home/madelvin/data/mariadb"
            o: "bind"
    wordpress_volume:
        driver: local
        driver_opts:
            type: "none"
            device: "/home/madelvin/data/wordpress"
            o: "bind"
    adminer_volume:
        driver: local
    portainer_volume:
        driver: local

networks:
    inception_network:
        driver: bridge
